tabfunctions.tex
tabinternals.tex
tabloopcmds.tex
Makefile
*.stamp
*.aux
*.log
*.toc
*.bbl
build.h
builddate
*.o
*.out
.deps
.libs
cli/gretlcli
conf
config.h
config.log
config.status
doc/tex/cmdtopics.tex
doc/tex/date.tex
doc/tex/funcbody.tex
gretl.pc
gretl_sh
gui2/.deps/
gui2/.libs/
gui2/gretl_x11
*.lo
*.la
*.gmo
*.hlp*
