[Desktop Entry]
Name=gretl 2
Comment=Econometrics program
Exec=gretl2 %F
Icon=gretl.png
Terminal=0
Type=Application
DocPath=gretl/gretl.xml
Categories=Application;Scientific;Econometrics

