[Desktop Entry]
Name=gretl
Comment=Econometrics program
Exec=gretl
Icon=gretl.png
Terminal=0
Type=Application
X-GNOME-DocPath=gretl/gretl.xml
Categories=Application;Scientific;Econometrics

