<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Gretl</string>
	<key>CFBundleIconFile</key>
	<string>Gretl.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gdt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gdt.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gretl data file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inp</string>
				<string>gretl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>script.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gretl script file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gretl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>session.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gretl session file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.gretl.Gretl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>GrETL</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
</dict>
</plist>
